---
layout: page-td12xx
title: TD next - td1204 the high-end module for geolocation!
excerpt: 1st Sigfox certified module with embedded GPS and accelerometer sensors
name: td1204
permalink: /modules/td1204/
h1: TD1204, the high-end module for geolocation!
subtitle: <p>TD1204 is the best compromise between integration facility and costs.</p><p>This is the 1<sup>st</sup> Sigfox module with embedded GPS and accelerometer sensors for geolocation and tracking applications.</p><p>With the TD1204, you have the ability to design your own antennas (RF and GPS).</p>
img-td12xx: "/img/mosaic-td1204@2x.png"
img-evb: "/img/evb-td1204.jpg"

sigfox: ok
sdk: ok
gps: ok

datasheet: "https://github.com/Telecom-Design/Documentation_TD_RF_Module/raw/master/TD1204%20Datasheet.pdf"
datashort: "/datashorts/TD1204%20Datashort.pdf"
userguide: "https://github.com/Telecom-Design/Documentation_TD_RF_Module/raw/master/TD1204%20EVB%20User's%20Guide.pdf"
refmanual: "https://github.com/Telecom-Design/Documentation_TD_RF_Module/raw/master/TD1204%20Reference%20Manual.pdf"
binary: "https://developers.insgroup.fr/downloads/td1204_modem_SOFT1450.bin"
imgloader: "https://developers.insgroup.fr/downloads/TDLoaderV1.06.exe"

---




{% include evb.html %}
{% include sdk.html %}
