---
layout: page-td12xx
title: TD next - td1205 module for a faster and easier geolocation
excerpt: This high-end module embeds all TD next skills in the Sigfox network, GPS, accelerometers sensors and design of antennas fields.
name: td1205
permalink: /modules/td1205/
h1: TD1205, a high-end module for a faster and easier geolocation!
subtitle: <p>This high-end module is a compact state-of-the-art geolocation engine featuring Sigfox connectivity, GNSS, 3-axis accelerometer, antennas... and your application.</p><p>Just connect a battery to your TD1205... and you're done!</p><p>The world of geolocation awaits you!</p>
img-td12xx: "/img/mosaic-td1205@2x.png"

sigfox: ok
sdk: ok
gps: ok
antenna: ok

datasheet: "https://github.com/Telecom-Design/Documentation_TD_RF_Module/raw/master/TD1205%20Datasheet.pdf"
datashort: "/datashorts/TD1204%20Datashort.pdf"
imgloader: "https://developers.insgroup.fr/downloads/TDLoaderV1.06.exe"



---



{% include evb.html %}
{% include sdk.html %}
