---
layout: page-td12xx
title: TD next • TD1208 Sigfox module for embedded apps
excerpt: TD next gives you the ability to integrate your own application into the TD1208 high-end modules
name: td1208
permalink: /modules/td1208/
h1: <span class="module-heading-box"><span class="module-heading-name">1208</span></span></span> The High-end module for embedded applications!
subtitle: <p>Because each customer is unique and each business has its own special features... TD next gives you the ability to embed your own application into the TD1208 modules.</p><p>Highly programmable with our free SDK, the TD1208 is the most integrated and lowest-power engine for most battery-operated Sigfox objects, including yours.</p><p class="primary-color"><i class="fa fa-warning"></i> This module is no longer available.</p><p><a href="/modules/td1208r/" type="button" class="btn btn-brand btn-m">Discover the new TD1208R</a></p>
img-td12xx: "//assetstdnext.s3.amazonaws.com/img/td1208-smash.jpg"

module: td1208

sigfox: ok
sdk: ok

datasheet: "https://github.com/Telecom-Design/Documentation_TD_RF_Module/raw/master/TD1208%20Datasheet.pdf"
datashort: "/docs/datashorts/TD1208%20Datashort.pdf"
userguide: "https://github.com/Telecom-Design/Documentation_TD_RF_Module/raw/master/TD1208%20EVB%20User's%20Guide.pdf"
refmanual: "https://github.com/Telecom-Design/Documentation_TD_RF_Module/raw/master/TD1208%20Reference%20Manual.pdf"
binary: "https://s3-eu-west-1.amazonaws.com/assetstdnext/download/td1208_modem_SOFT2069.bin"
imgloader: "https://developers.insgroup.fr/downloads/TDLoaderV1.06.exe"

---



{% include evb.html %}
{% include sdk.html %}

<script type="text/javascript" src="{{img.url}}/js/jquery.magnific-popup.min.js"></script>
