---
layout: page-td12xx
title: TD next • TD1208R Sigfox module for embedded apps. Very low consumption.
excerpt: TD next gives you the ability to integrate your own application into the TD1208 high-end modules
name: td1208r
permalink: /modules/td1208r/
h1: <span class="module-heading-box"><span class="module-heading-name">1208R</span></span></span> Very low consumption high end module for embedded applications!
subtitle: <p>The TD1208R is the new TD1208 generation, featuring a castellated PADs design with an even more optimized consumption.</p><p>Because each customer is unique and each business has its own special features... TD next gives you the ability to embed your own application into the TD1208R modules.</p><p>Highly programmable with our free SDK, the TD1208 is the most integrated and lowest-power engine for most battery-operated Sigfox objects, including yours.</p>
img-td12xx: "//assetstdnext.s3.amazonaws.com/img/td1208r-smash.jpg"

module: td1208r

sigfox: ok
sdk: ok

datasheet: "https://s3-eu-west-1.amazonaws.com/assetstdnext/download/TD120xR+Datasheet+rev1.2.pdf"
datashort: "https://s3-eu-west-1.amazonaws.com/assetstdnext/download/TD1208R+Datashort.pdf"
userguide: "https://s3-eu-west-1.amazonaws.com/assetstdnext/download/TD12xx_15xx_16xx+EVB+User%27s+Guide+rev1.0.pdf"
refmanual: "https://s3-eu-west-1.amazonaws.com/assetstdnext/download/TDnext+RF+Modules+Reference+Manual+rev2.0.pdf"
binary: "https://s3-eu-west-1.amazonaws.com/assetstdnext/download/td1208_modem_SOFT2069.bin"
imgloader: "https://developers.insgroup.fr/downloads/TDLoaderV1.06.exe"

---



{% include evb.html %}
{% include sdk.html %}

<script type="text/javascript" src="{{img.url}}/js/jquery.magnific-popup.min.js"></script>
