---
layout: page-td12xx
title: TD next • TD1205 high-end Sigfox module for GPS. Very low consumption, and Hall effect.
excerpt: This high-end module embeds all TD next skills in the Sigfox network, GPS, Hall effect accelerometers sensors and design of antennas fields.
name: td1205p
permalink: /modules/td1205p/
h1: <span class="module-heading-box"><span class="module-heading-name">1205p</span></span></span> A high-end module for a faster and easier geolocation!
subtitle: <p>This high-end module is a compact state-of-the-art geolocation engine featuring Sigfox connectivity, GNSS, 3-axis accelerometer, Hall effect, antennas... and your application. Highly programmable with our free SDK, the TD1205P is the most integrated and lowest-power engine for most battery-operated Sigfox objects, including yours.</p>
img-td12xx: "//assetstdnext.s3.amazonaws.com/img/td1205-smash.jpg"

module: td1205p

sigfox: ok
sdk: ok
gps: ok
antenna: ok

datasheet: "https://s3-eu-west-1.amazonaws.com/assetstdnext/download/TD1205P+Datasheet+rev1.3.pdf"
datashort: "https://s3-eu-west-1.amazonaws.com/assetstdnext/download/TD1205P+Datashort.pdf"
binary: "https://s3-eu-west-1.amazonaws.com/assetstdnext/download/td1205_modem_SOFT2066.bin"
imgloader: "https://developers.insgroup.fr/downloads/TDLoaderV1.06.exe"



---



{% include evb.html %}
{% include sdk.html %}
