
<div class="community bg-primary-color">
  <div class="community-pattern" id="pattern-butterfly"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <div class="community-inner">
          <h2 class="community-title">Interact with our team or with other developers about our solutions & applications</h2>
          <a target=_blank href="http://community.td-next.com" type="button" class="btn btn-white btn-l uppercase">Join the community</a>
        </div>
      </div>
    </div>
  </div>
  <div class="hackaton"></div>
</div>
