<section class="range visible-md visible-lg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="section-heading section-heading-second" >Our family of Sigfox certified modules</h2>
        <h3><i class="fa fa-warning primary-color"></i>TD1207 & TD1208 are no longer available. We now focus on the <a href="{{site.url}}/modules/td1207r/">TD1207R</a> & <a href="{{site.url}}/modules/td1208r/">TD1208R</a>.</h3>
      </div>
    </div>
    <div class="row">
      <div class ="col-md-15">
        <img class="img-responsive img-center" src="//assetstdnext.s3.amazonaws.com/img/td1207.png">
        <div class="range-tag" id="tag-td1207r"></div>
      </div>

      <div class ="col-md-15">
        <img class="img-responsive img-center" src="//assetstdnext.s3.amazonaws.com/img/td1208.png">
        <div class="range-tag" id="tag-td1208r"></div>
      </div>
      <div class ="col-md-15">
        <img class="img-responsive img-center" src="//assetstdnext.s3.amazonaws.com/img/td1508.png">
        <div class="range-tag" id="tag-td1508"></div>
      </div>
      <div class ="col-md-15">
        <img class="img-responsive img-center" src="//assetstdnext.s3.amazonaws.com/img/td1204.png">
        <div class="range-tag" id="tag-td1204"></div>
      </div>
      <div class ="col-md-15">
        <img class="img-responsive img-center" src="//assetstdnext.s3.amazonaws.com/img/td1205.png">
        <div class="range-tag" id="tag-td1205"></div>
      </div>
    </div>
  </div>
</section>


<section class="family-features" style="padding-bottom:0;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-15 text-center">
        <img class="img-responsive hidden-md hidden-lg" style="margin:auto;" src="https://s3-eu-west-1.amazonaws.com/assetstdnext/img/td1207.png">
        <div class="feature-inner">
          <ul class="list-unstyled">
            <li>
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-sigfox"></div>
                  <div class="feature-label primary-color semibold">Sigfox certified Class 0</div>
                </div>
              </div>
            </li>
            <li class="hidden-xs hidden-sm">
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-none hidden-xs hidden-sm"></div>
                </div>
              </div>
            </li>
            <li class="hidden-xs hidden-sm">
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-none hidden-xs hidden-sm"></div>
                </div>
              </div>
            </li>
            <li class="hidden-xs hidden-sm">
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-none hidden-xs hidden-sm"></div>
                </div>
              </div>
            </li>
          </ul>
          <a href="{{site.url}}/modules/td1207r/" type="button" class="btn btn-brand btn-m">Learn more</a>
          <a class="center-block old-version" href="{{site.url}}/modules/td1207/">I still use the old version (TD1207)</a>
        </div>
      </div>
      <div class="col-md-15 text-center">
        <img class="img-responsive  hidden-md hidden-lg" style="margin:auto;" src="https://s3-eu-west-1.amazonaws.com/assetstdnext/img/td1208.png">
        <div class="feature-inner">
          <ul class="list-unstyled">
            <li>
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-sigfox"></div>
                  <div class="feature-label primary-color semibold">Sigfox certified Class 0</div>
                </div>
              </div>
            </li>
            <li>
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-sdk"></div>
                  <div class="feature-label primary-color semibold">SDK</div>
                </div>
              </div>
            </li>
            <li class="hidden-xs hidden-sm">
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-none hidden-xs hidden-sm"></div>
                </div>
              </div>
            </li>
            <li class="hidden-xs hidden-sm">
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-none hidden-xs hidden-sm"></div>
                </div>
              </div>
            </li>
          </ul>
        <a href="{{site.url}}/modules/td1208r/" type="button" class="btn btn-brand btn-m">Learn more</a>
        <a class="center-block old-version" href="{{site.url}}/modules/td1208/">I still use the old version (TD1208)</a>
        </div>
      </div>
      <div class="col-md-15 text-center">
        <img class="img-responsive  hidden-md hidden-lg" style="margin:auto;" src="https://s3-eu-west-1.amazonaws.com/assetstdnext/img/td1508.png">
        <div class="feature-inner">
          <ul class="list-unstyled">
            <li>
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-sigfox"></div>
                  <div class="feature-label primary-color semibold">Sigfox certified Class 0</div>
                </div>
              </div>
            </li>
            <li>
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-sdk"></div>
                  <div class="feature-label primary-color semibold">SDK</div>
                </div>
              </div>
            </li>
            <li class="hidden-xs hidden-sm">
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-none hidden-xs hidden-sm"></div>
                </div>
              </div>
            </li>
            <li class="hidden-xs hidden-sm">
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-none hidden-xs hidden-sm"></div>
                </div>
              </div>
            </li>
          </ul>
          <button type="button" class="btn btn-brand btn-m" disabled="disabled">Available soon</button>
        </div>
      </div>
      <div class="col-md-15 text-center">
        <img class="img-responsive  hidden-md hidden-lg" style="margin:auto;" src="https://s3-eu-west-1.amazonaws.com/assetstdnext/img/td1204.png">
        <div class="feature-inner">
          <ul class="list-unstyled">
            <li>
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-sigfox"></div>
                  <div class="feature-label primary-color semibold">Sigfox certified Class 0</div>
                </div>
              </div>
            </li>
            <li>
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-sdk"></div>
                  <div class="feature-label primary-color semibold">SDK</div>
                </div>
              </div>
            </li>
            <li>
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-gps"></div>
                  <div class="feature-label primary-color semibold">GPS</div>
                </div>
              </div>
            </li>
            <li class="hidden-xs hidden-sm">
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-none hidden-xs hidden-sm"></div>
                </div>
              </div>
            </li>
          </ul>
          <a href="{{site.url}}/modules/td1204" type="button" class="btn btn-brand btn-m">Learn more</a>
        </div>
      </div>
      <div class="col-md-15 text-center">
        <img class="img-responsive  hidden-md hidden-lg" style="margin:auto;" src="https://s3-eu-west-1.amazonaws.com/assetstdnext/img/td1205.png">
        <div class="feature-inner">
          <ul class="list-unstyled">
            <li>
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-sigfox"></div>
                  <div class="feature-label primary-color semibold">Sigfox certified Class 0</div>
                </div>
              </div>
            </li>
            <li>
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-sdk"></div>
                  <div class="feature-label primary-color semibold">SDK</div>
                </div>
              </div>
            </li>
            <li>
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-gps"></div>
                  <div class="feature-label primary-color semibold">GPS</div>
                </div>
              </div>
            </li>
            <li>
              <div class="feature-inner-table">
                <div class="feature-inner-cell">
                  <div class="feature-icon feature-antenna"></div>
                  <div class="feature-label primary-color semibold">Integrated antenna</div>
                </div>
              </div>
            </li>
          </ul>
          <a href="{{site.url}}/modules/td1205" type="button" class="btn btn-brand btn-m">Learn more</a>
        </div>
      </div>
    </div>

  </div>

</section>
