<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
			<a target=_blank href="http://www.td-next.com"><img class="img-responsive img-rounded" src="{{site.url}}/img/logos/tdnext-white.png"></a>
			</div>
			<div class="col-md-2">
				<ul class="list-unstyled">
					<li>TD next</li>
					<li><a href="http://www.td-next.info">A project?</a></li>
					<li><a target=_blank href="http://blog.td-next.com">Blog</a></li>
					<li><a target=_blank href="http://community.td-next.com">Community</a></li>
					<li><a target=_blank href="http://developers.insgroup.fr">Developers</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				<ul class="list-unstyled">
					<li>Offers</li>
					<li><a href="http://sigfoxmodules.td-next.com">Sigfox modules</a></li>
					<li><a target=_blank href="http://www.cloudonchip.com">Cloud on Chip<sup>TM</sup></a></li>
				</ul>
			</div>
			<div class="col-md-2">
				<ul class="list-unstyled">
					<li>Sigfox modules</li>
					<li><a href="{{site.url}}/modules/">Get started</a></li>
					<li><a href="{{site.url}}/evb/">EVB</a></li>
					<li><a href="{{site.url}}/sdk/">SDK</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				<a target=_blank href="http://www.sigfox.com/fr/#!/connected-world/solution-enablers/telecom-design-6"><img class="img-responsive img-rounded pull-right" src="{{site.url}}/img/logos/sigfox-ready.png"></a>
			</div>

		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p>&copy; TD next 2015 &#8226; <a href="#">Legals</a></p>
				</div>
			</div>
		</div>
	</div>




</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://s3-eu-west-1.amazonaws.com/assetstdnext/js/jquery.retina.min.js"></script>
<script src="https://s3-eu-west-1.amazonaws.com/assetstdnext/js/jquery.tdnext.min.js"></script>
<script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/assetstdnext/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script type="text/javascript" src="https://s3-eu-west-1.amazonaws.com/assetstdnext/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-62778372-1', 'auto');
	  ga('send', 'pageview');
	</script>
