<nav class="navbar navbar-default navbar-fixed-top menu-base menu-brand-inverted">
  <div class="container">
    <div class="navbar-header"> <a class="navbar-toggle collapsed nav-brand-toggle" data-toggle="collapse" data-target="#main-menu-collapse" aria-expanded="false"> <i class="fa fa-bars fa-2x"></i> </a> <a class="navbar-brand logo" href="{{site.url}}/"><img class="img-responsive logo-img" src="//assetstdnext.s3.amazonaws.com/img/sigfox-modules-logo.png" alt="TD next logo"></a> </div>
    <div class="collapse navbar-collapse" id="main-menu-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li {% if page.url == '/modules/' %} class="active" {% endif %}><a href="{{site.url}}/modules/">Getting started</a></li>
        <li {% if page.url == '/evb/' %} class="active" {% endif %}><a href="{{site.url}}/evb/">EVB</a></li>
        <li {% if page.url == '/sdk/' %} class="active" {% endif %}><a href="{{site.url}}/sdk/">SDK</a></li>
        <li {% if page.url == '/ideas/' %} class="active" {% endif %}><a href="{{site.url}}/ideas/">Ideas</a></li>
        <li><a target="_blank" href="http://community.td-next.com">Community</a></li>
        <li><a target=_blank href="https://twitter.com/td_next"><i class="fa fa-twitter"></i> td_next</a></li>
      </ul>
    </div>
  </div>
</nav>
