<section class="range" id="range">
  <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="text-uppercase light" style="margin-top:0; margin-bottom:50px;">Choose from a family of modules</h2>
        </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-15 text-center">
        <div style="background-color:#ffffff;">
        <img class="img-responsive" style="margin:auto;" src="{{site.url}}/img/td1208.png">
        <h3 class="test">TD 1207</h3>
      </div>
        <div style="display:table;width:100%; height:140px;">
          <div style="display:table-cell;width:100%; vertical-align:middle;">
          <h4 class="text-center" style="font-size:22px; padding-left:25px; padding-right:25px;">The low-cost time-to-market Sigfox modem.</h4>
        </div>
      </div>
        <ul class="list-unstyled">
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
              <div class="feature-icon"></div>
              <div class="feature-label primary-color semibold">Sigfox certified Class 0</div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-icon"></div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-trait"></div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-trait"></div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-trait"></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-15 text-center">
        <div style="background-color:#ffffff;">
        <img class="img-responsive" style="margin:auto;" src="{{site.url}}/img/td1208.png">
        <h3 class="test">TD 1208</h3>
      </div>
        <div style="display:table;width:100%; height:140px;">
          <div style="display:table-cell; vertical-align:middle;">
          <h4 style="font-size:22px; padding-left:25px; padding-right:25px;">TD1208, the High end module for embedded applications!</h4>
        </div>
      </div>
        <ul class="list-unstyled">
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-icon"></div>
            <div class="feature-label primary-color semibold">Sigfox certified Class 0</div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-icon"></div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-icon"></div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-trait"></div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-trait"></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-15 text-center">
        <div style="background-color:#ffffff;">
        <img class="img-responsive" style="margin:auto;" src="{{site.url}}/img/td1208.png">
        <h3 class="test">TD 1508</h3>
      </div>
        <div style="display:table;width:100%; height:140px;">
          <div style="display:table-cell; vertical-align:middle;">
            <h4 style="font-size:22px; padding-left:25px; padding-right:25px;">TD1208, the High end module for embedded applications in US market!</h4>
        </div>
      </div>

        <ul class="list-unstyled">
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-icon"></div>
            <div class="feature-label primary-color semibold">Sigfox certified Class 0</div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-icon"></div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-icon"></div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-trait"></div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-trait"></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-15 text-center">
        <div style="background-color:#ffffff;">
        <img class="img-responsive" style="margin:auto;" src="{{site.url}}/img/td1208.png">
        <h3 class="test">TD 1204</h3>
      </div>
        <div style="display:table;width:100%; height:140px;">
          <div style="display:table-cell; vertical-align:middle;">
            <h4 style="font-size:22px; padding-left:25px; padding-right:25px;">TD1208, the High end module for geolocation.</h4>
        </div>
      </div>

        <ul class="list-unstyled">
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-icon"></div>
            <div class="feature-label primary-color semibold">Sigfox certified Class 0></div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-icon"></div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-icon"></div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-icon"></div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-trait"></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-15 text-center">
        <div style="background-color:#ffffff;">
        <img class="img-responsive" style="margin:auto;" src="{{site.url}}/img/td1208.png">
        <h3 class="test">TD 1205</h3>
      </div>
        <div style="display:table;width:100%; height:140px;">
          <div style="display:table-cell; vertical-align:middle;">
            <h4 style="font-size:22px; padding-left:25px; padding-right:25px;">TD1205, a high-end module for a faster and easier geolocation!</h4>
        </div>
      </div>


        <ul class="list-unstyled">
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-icon"></div>
            <div class="feature-label primary-color semibold">Sigfox certified Class 0</div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-icon"></div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-icon"></div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-icon"></div>
            </div>
          </li>
          <li style="margin-bottom:1px;">
            <div class="feature-inner">
            <div class="feature-icon"></div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>
