<section class="range" id="range">
<div class="range-inner">
  <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-heading">Differences between our Sigfox certified modules.</h2>
        </div>
    </div>
      <div class="row">
          <div class="col-xs-12 col-sm-offset-4 col-sm-8 col-md-8 col-md-offset-4">
              <div class="row">
                  <div class="col-xs-3 text-center">
                      <div class="static range-header">TD<span class="comma">'</span>1207</div>
                      <a class="button-grey range-learn-more hidden-xs" href="{{site.url}}/modules/td1207/" role="button">Learn more</a>
                  </div>
                  <div class="col-xs-3 text-center">
                      <div class="static range-header">TD<span class="comma">'</span>1208</div>
                      <a class="button-grey range-learn-more hidden-xs" href="{{site.url}}/modules/td1208/" role="button">Learn more</a>
                  </div>
                  <div class="col-xs-3 text-center">
                      <div class="static range-header">TD<span class="comma">'</span>1204</div>
                      <a class="button-grey range-learn-more hidden-xs" href="{{site.url}}/modules/td1204/" role="button">Learn more</a>
                  </div>
                  <div class="col-xs-3 text-center">
                      <div class="static range-header">TD<span class="comma">'</span>1205</div>
                      <a class="button-grey range-learn-more hidden-xs" href="{{site.url}}/modules/td1205/" role="button">Learn more</a>
                  </div>
              </div>
          </div>
      </div>
      <div class="row range-row">
          <div class="col-xs-12 col-sm-4 range-feature text-center">
              <i class="fa fa-butterfly fa-3x"></i>
              <div>Sigfox certified</div>
          </div>
          <div class="col-xs-12 col-sm-8 text-center">
              <div class="row">
                  <div class="col-xs-3 col-sm-3 range-cell">
                      <i class="fa fa-circle"></i>
                  </div>
                  <div class="col-xs-3 col-sm-3 range-cell">
                      <i class="fa fa-circle"></i>
                  </div>
                  <div class="col-xs-3 col-sm-3 range-cell">
                      <i class="fa fa-circle"></i>
                  </div>
                  <div class="col-xs-3 col-sm-3 range-cell">
                      <i class="fa fa-circle"></i>
                  </div>
              </div>
          </div>
      </div>
      <div class="row range-row">
          <div class="col-xs-12 col-sm-4 range-feature text-center">
              <i class="fa fa-code fa-3x"></i>
              <div>SDK</div>
          </div>
          <div class="col-xs-12 col-sm-8 text-center">
              <div class="row">
                  <div class="col-xs-3 col-sm-3 range-cell">
                      <i class="fa"></i>
                  </div>
                  <div class="col-xs-3 col-sm-3 range-cell">
                      <i class="fa fa-circle"></i>
                  </div>
                  <div class="col-xs-3 col-sm-3 range-cell">
                      <i class="fa fa-circle"></i>
                  </div>
                  <div class="col-xs-3 col-sm-3 range-cell">
                      <i class="fa fa-circle"></i>
                  </div>
              </div>
          </div>
      </div>
      <div class="row range-row">
          <div class="col-xs-12 col-sm-4 range-feature text-center">
              <i class="fa fa-geolocation fa-3x"></i>
              <div>Geolocation</div>
          </div>
          <div class="col-xs-12 col-sm-8 text-center">
              <div class="row">
                  <div class="col-xs-3 col-sm-3 range-cell">
                      <i class="fa"></i>
                  </div>
                  <div class="col-xs-3 col-sm-3 range-cell">
                      <i class="fa"></i>
                  </div>
                  <div class="col-xs-3 col-sm-3 range-cell">
                      <i class="fa fa-circle"></i>
                  </div>
                  <div class="col-xs-3 col-sm-3 range-cell">
                      <i class="fa fa-circle"></i>
                  </div>
              </div>
          </div>
      </div>
      <div class="row range-row">
          <div class="col-xs-12 col-sm-4 range-feature text-center">
              <i class="fa fa-wireless fa-3x"></i>
              <div>Integrated antennas</div>
          </div>
          <div class="col-xs-12 col-sm-8 text-center">
              <div class="row">
                  <div class="col-xs-3 col-sm-3 range-cell">
                      <i class="fa"></i>
                  </div>
                  <div class="col-xs-3 col-sm-3 range-cell">
                      <i class="fa"></i>
                  </div>
                  <div class="col-xs-3 col-sm-3 range-cell">
                      <i class="fa"></i>
                  </div>
                  <div class="col-xs-3 col-sm-3 range-cell">
                      <i class="fa fa-circle"></i>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
