.bg-grey {background-color: $grey-color-ultralight;}
.bg-grey-color-dark {background-color: $grey-color-medium;}
.bg-color-brand {background-color: $brand-color;}

.static {font-family:$tdnext-font-family;}
.comma {color:$brand-color;}

.page-title {font-weight:300;}

section {
    .section-heading {
        margin-bottom: 2.500em;
        font-weight:300;
    }
}

header {
    @include cover-background('../img/bg-module.jpg');
    background-position: bottom center;
    padding: 6.250em 0 6.250em 0;
    color:#ffffff;

    .intro-lead-in {
        text-transform: uppercase;
        @include font-size(64px);
    }
    .intro-heading {
        margin-bottom: 1.563em;
        font-family: $base-font-family;
        @include font-size(42px);
        font-weight:300;
    }
}


footer {
    padding:5% 0 5% 0;
    background-color: $grey-color;

    li:first-child{
        color:#ffffff;
        font-weight:700;
        margin-bottom:1em;
        }

    a, p {color:$grey-color-light;}
    a:hover, a:focus, a:active {color:#ffffff;}
}


/*----Button----*/

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  @include font-size (16px);
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 2px solid transparent;
  border-radius: 3px;
  text-transform:uppercase;

  &:hover, &:focus {
    text-decoration:none;
  }
}

.button-xl {
    @extend .button;
    padding: 10px 16px;
    line-height: 1.3333333;
    border-width:2px;
}


.button-xxl {
    @extend .button;
    padding: 14px 20px;
    @include font-size(18px);
    border-width:2px;
}

.button-grey {
    @extend .button;
    border-color: $grey-color-ultralight;
    background-color: $grey-color-ultralight;
    color:$grey-color-medium;

    &:hover, &:focus {
        border: 2px solid $brand-color;
        background-color: transparent;
        color:$brand-color;
    }
}

.button-grey-xl {
    @extend .button-xl;
    @extend .button-grey;

   &:hover, &:focus {
    border:2px solid $brand-color;
   }
}

.button-o-grey {
    @extend .button;
    border-color: $grey-color-medium;
    color: $grey-color-medium;
    background-color:transparent;
    &:hover, &:active, &:focus {
        border-color:$grey-color;
        color:$grey-color;
    }
}

.button-o-grey-xl {
    @extend .button-xl;
    @extend .button-o-grey;
}

.button-o-grey-xxl {
    @extend .button-xxl;
    @extend .button-o-grey;
}

.button-o-white {
    @extend .button;
    border-color: #ffffff;
    color: #ffffff;
    &:hover, &:active, &:focus {
        color:#ffffff;
    }
}

.button-o-white-xl {
    @extend .button-xl;
    @extend .button-o-white;
}

.button-o-white-xxl {
    @extend .button-xxl;
    @extend .button-o-white;
}

.button-red {
  @extend .button;
  border-color: $brand-color;
  background-color: $brand-color;
  color:#ffffff;

  &:hover, &:focus {
      border: 2px solid $brand-color-dark;
      background-color: $brand-color-dark;
      color:#ffffff;
  }

}

.button-red-xl {
  @extend .button-xl;
  @extend .button-red;
  &:hover, &:focus {
   border:2px solid $brand-color;
  }
}

.button-red-xxl {
  @extend .button-xxl;
  @extend .button-red;
  &:hover, &:focus {
   border:2px solid $brand-color;
  }
}
