.hero-offer {
  @include cover-background ('//assetstdnext.s3.amazonaws.com/img/bg-hero-sigfox-modules.jpg');

  .down-bounce {margin:auto;}
}

.home-news {
  padding:0.781em 0 0.781em 0;
  .home-news-link {
    margin:0;
    @include font-size(32px);
    color:#ffffff;
    font-weight:200;
  }
}

.range {
  padding-bottom:0;
  @include at2x('//assetstdnext.s3.amazonaws.com/img/bg-family-sigfox-modules', png);
  background-position: center bottom;

  .range-tag {
    height: 7.500em;
    width: 7.500em;

    margin-left:auto;
    margin-right:auto;
    margin-bottom:-4.2em;
    background-repeat:no-repeat;
    background-size: 120px 120px;

    @include at2x('//assetstdnext.s3.amazonaws.com/img/tag-td1207', png);
  }

  #tag-td1207 {@include at2x('//assetstdnext.s3.amazonaws.com/img/tag-td1207', png);}
  #tag-td1208 {@include at2x('//assetstdnext.s3.amazonaws.com/img/tag-td1208', png);}
  #tag-td1508 {@include at2x('//assetstdnext.s3.amazonaws.com/img/tag-td1508', png);}
  #tag-td1204 {@include at2x('//assetstdnext.s3.amazonaws.com/img/tag-td1204', png);}
  #tag-td1205 {@include at2x('//assetstdnext.s3.amazonaws.com/img/tag-td1205', png);}
}



.feature-sigfox {@include at2x('//assetstdnext.s3.amazonaws.com/img/icon-sigfox', png);}
.feature-evb {@include at2x('//assetstdnext.s3.amazonaws.com/img/icon-evb', png);}
.feature-sdk {@include at2x('//assetstdnext.s3.amazonaws.com/img/icon-sdk', png);}
.feature-gps {@include at2x('//assetstdnext.s3.amazonaws.com/img/icon-gps', png);}
.feature-antenna {@include at2x('//assetstdnext.s3.amazonaws.com/img/icon-antenna', png);}
.feature-none {@include at2x('//assetstdnext.s3.amazonaws.com/img/icon-line', png);}

.feature-sigfox-unavailable {@include at2x('//assetstdnext.s3.amazonaws.com/img/icon-sigfox-grey', png);}
.feature-evb-unavailable {@include at2x('//assetstdnext.s3.amazonaws.com/img/icon-evb-grey', png);}
.feature-sdk-unavailable {@include at2x('//assetstdnext.s3.amazonaws.com/img/icon-sdk-grey', png);}
.feature-gps-unavailable {@include at2x('//assetstdnext.s3.amazonaws.com/img/icon-gps-grey', png);}
.feature-antenna-unavailable {@include at2x('//assetstdnext.s3.amazonaws.com/img/icon-antenna-grey', png);}

.family-features {

  .module-description {padding:25px 50px 25px 50px;}

  .feature-inner {
    background-color:#ffffff;
    padding-bottom:3.125em;
  }

  .feature-inner-table {
    display:table;
    width:100%;
    height:90px;
  }

  .feature-inner-cell {
    display:table-cell;
    vertical-align: middle;

    .feature-icon {
      height: 2.500em;
      width: 2.500em;
      margin-left:auto;
      margin-right:auto;
      background-repeat:no-repeat;
      background-size: 40px 40px;
    }

    .feature-caption {
      display:block;
      float: left;
      height: 15px;
      width: 50px;
    }
  }
}



#pattern-butterfly {@include at2x('//assetstdnext.s3.amazonaws.com/img/bg-butterfly', png);}

.module-sheet {
  padding-bottom:0;
  .module-sheet-heading {
    margin:1.190em 0;
    @include font-size(52px);
    font-weight:400;

    .module-heading-box {
      padding:0 0.273em;
      border: 2px solid #dddddd;
      @include border-radius(50px);

      .module-heading-name {
        &:before {
          content:"TD' ";
          color:#e32a48;
          font-weight:500;
        }
      }
    }
  }

  .module-sheet-description {
    margin:1.667em 0  1.667em 0;
    @include font-size(30px);
    font-weight:300;
    text-align:justify;
  }

  .sheet-feature-icon {
    height: 3.750em;
    width: 3.750em;
    margin-left:auto;
    margin-right:auto;
    background-repeat:no-repeat;
    background-size: 60px 60px;
  }

  .sheet-feature-caption {
    @include font-size(16px);
    font-weight:500;
  }
}

/*----------NAVBAR MODULES----------*/



/*----------HOMEPAGE----------*/
.news {
  padding: 1em 0 1em 0;
  h3 {
    margin:0em;
    color:red;
  }

  .last-news {
    color:#ffffff;
    font-weight:500;
  }
}

/*----------GETTING STARTED----------*/

.modules-bringme {
  .use-case {
    padding: 0.938em;
  }
}

.sgf-certification {
  .sgf-rfclass {
    margin-top:3.125em;
    tr:nth-child(-n+2) {
      font-weight:700;
    }
    tr:last-child>td:first-child {
      font-weight:700;
    }
  }
}

/*----------TD12xx----------*/

.module-toolbox {
  .module-toolbox-btn {
    margin:0px;
  }

  .btn-toolbox {
    margin:0.48em 0;
  }
}

@media (min-width:992px){
  .module-toolbox {
    .module-toolbox-btn {
      margin-top:6.25em;
    }
  }
}

@media (min-width:1200px){
  .module-toolbox {
    .module-toolbox-btn {
      margin-top:9em;
    }
  }
}


/*----------EVB----------*/

.evb-owner {
  padding:0;

  .evb-choice {
    display:block;

    padding: 7.500em 0;

    &:hover {
      -webkit-animation: animatedBackground 1s ease-out 1;
      -moz-animation: animatedBackground 1s ease-out 1;
      animation: animatedBackground 1s ease-out 1;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
  }
  @-webkit-keyframes animatedBackground {
  0% {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1)
  }
  100% {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1)
  }
  }
  @-moz-keyframes animatedBackground {
  0% {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1)
  }
  100% {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1)
  }
  }
  @keyframes animatedBackground {
  0% {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1)
  }
  100% {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1)
  }
  }
  .evb-choice-left {
    @include cover-background('//assetstdnext.s3.amazonaws.com/img/td7740-choice-left.jpg');
  }

  .evb-choice-right {
    @include cover-background('//assetstdnext.s3.amazonaws.com/img/td7740-choice-left.jpg');
  }

  .evb-choice-inner {
    display:table;
    position:relative;
    margin: 0 auto 0 auto;
    padding: 0 1.563em 0 1.563em;
    width:18.750em;
    height:18.750em;
    border:2px solid #ffffff;
    border-radius:50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    z-index:999;

    .evb-choice-text {
      display:table-cell;
      vertical-align:middle;
      margin:auto;
      @include font-size(50px);
      color:#ffffff;

      .evb-choice-icon-red:after {
        content:"";
        display:block;
        margin:auto;
        width:64px;
        height:64px;
        background-size:64px 64px;
        background-repeat:no-repeat;
        @include at2x("//assetstdnext.s3.amazonaws.com/img/icon-evb", png , 64px, 64px);
      }

      .evb-choice-icon-grey:after {
        content:"";
        display:block;
        margin:auto;
        width:64px;
        height:64px;
        background-size:64px 64px;
        background-repeat:no-repeat;
        @include at2x("//assetstdnext.s3.amazonaws.com/img/icon-evb-grey",png, 64px, 64px);
      }
    }
  }
}

.evb-learning-curve {
  padding-bottom:0;
  .evb-learning-curve-text {
    margin:1.923em 0;
    @include font-size(26px);
  }
}


.evb-included {
  .evb-included-tools {
    .evb-tool-inner {
      vertical-align:top;
      padding:3.125em 0.962em 0 0.962em ;
      width:49%;
      .evb-tool-icon {width:100px;}
      .evb-tool-description {
        padding-top:0.962em;
        @include font-size(22px);
        color:#ffffff;
        font-weight:300;
      }
    }
  }
}

.evb-included {
  .evb-included-tools {
    .evb-tool-inner {
      @media (min-width:768px) {
        width:19%;
      }
    }
  }
}

.evb-starter {
  .evb-step {
    display:table;
    width:100%;
    height:68px;
    margin:3.125em 0;
    .evb-step-inner{
      display:table-row;
      .evb-step-num-holder {
        display:table-cell;
        vertical-align:middle;
        .evb-step-num {width:68px;}
      }
      .evb-step-title-holder {
        display:table-cell;
        vertical-align:middle;
        .evb-step-title {
          margin:0;
          @include font-size(36px);
          font-weight:300;
        }
      }
    }
  }
  .evb-step-subtitle{
    margin:1.136em 0 0 0;
    @include font-size(22px);
  }

  .evb-step-text {
    @include font-size(22px);
  }

  .highlight {

  }
}

#viewer {
  position:relative;
  width:17.750em;
  height:11.766em;
  margin:auto;
}

@media(min-width:768px) {
  #viewer {
    width:43.750em;
    height:29em;
  }
}


#viewer img[src*="loader"] {
  position:absolute;
  left:50%;
  top:50%;
}



#thumbs {
  a {
    display:block;
    padding:0.125em;
    border-radius:0.500em;
    &:hover, &:focus, .active {
      background:#f4f4f4 ;
    }
  }
}


/*----------SDK----------*/

.sdk-benefits {
  .sdk-benefit-img {
    width:170px;
    margin-top:3.125em;
  }

  .sdk-benefit-argument {
    padding: 0 1.223em;
    @include font-size(26px);
    color:#ffffff;
    font-weight:300;
  }
}

@media (min-width: 768px) {
  .sdk-benefits {
    .sdk-benefit-img {
      margin-top:0;
    }
  }
}

.sdk-features {
  width:100%;
  height:100%;
  min-height:692px;
  padding:0;
  border-bottom:0.313em solid #ffffff;

  .sdk-features-inner {
    padding: 6.250em 0;

    .sdk-features-description {
      margin-top:1.923em;
      @include font-size(26px);
      color:#ffffff;
      text-align:justify;
      font-weight:300;
    }
  }

  .sdk-tools {
    position:relative;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left:1.429em;
      width: 0.143em;
      background-color:#ffffff;
    }
    li {
      position:relative;
      margin-bottom: 5.714em;;
      &:first-child {margin-top:3.571em;}
      &:last-child { margin-bottom:0;}
      &:before, &:after {
        content:"";
        display:table;
      }
    }

    .sdk-tool-step {
      position:absolute;
      left:0;
      width:1.400em;
      height:1.400em;
      border-radius:50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      background-color:#ffffff;
      @include font-size(30px);
      text-align:center;
      line-height: 1.400em;
      font-weight:700;
    }
    .sdk-tool-description {
      width: 100%;
      float: right;
      padding: 0 0 0 2.429em;
      position: relative;
      text-align: left;
      @include font-size(26px);
      color:#ffffff;
      a {color:#ffffff;}
    }
  }
}

.sdk-starter {
  .sdk-step {
    position:relative;
    padding:0 1.563em 0 1.563em;

    .sdk-starter-num {
      position:relative;
      margin-top:3.125em;
      width:68px;
      z-index:999;
    }
  }

  .sdk-starter-step {
    margin:1.136em 0;
    @include font-size(22px);
  }
}

@media (min-width:768px){
  .sdk-starter {
    .sdk-step-link {
      &:before {
        content:'';
        position:absolute;
        top:78px;
        width:100%;
        height:2px;
        background-color:#e32a48;
        z-index:0;
      }
    }
  }
}

.idea {
  padding:19% 0 30% 0;
  position:relative;
  border-bottom:0.063em solid #ffffff;
  .idea-down {
    position:absolute;
    top:5%;
    left:50%;
    margin-left:-1.500em;
  }
  .idea-title {
    display:inline-block;
    margin:0;
    padding:0.172em  0.517em;
    @include font-size(24px);
    color:#ffffff;
    font-weight:300;
    -moz-border-radius: 3.125em;
    -webkit-border-radius:3.125em;
    border-radius: 3.125em;
    text-transform:uppercase;
  }
}

@media (min-width:768px) {
  .idea {
    .idea-title {
      display:inline-block;
      margin:0;
      padding:0.172em  0.517em;
      @include font-size(72px);
      color:#ffffff;
      font-weight:300;
      -moz-border-radius: 3.125em;
      -webkit-border-radius: 3.125em;
      border-radius: 3.125em;
    }
  }
}

.idea-security {@include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-security.jpg'); background-position:center top;padding-top:17%;padding-bottom:25%;}
.idea-tracking {@include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-tracking.jpg'); background-position:center top;padding-top:22%;padding-bottom:20%;}
.idea-farming {@include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-farming.jpg'); background-position:center top;padding-top:24%;padding-bottom:18%;}
.idea-environment {@include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-environment.jpg'); background-position:center top;padding-top:23%;padding-bottom:22%;}
.idea-smartcity{@include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-smartcity.jpg'); background-position:center top;}
.idea-health {@include cover-background('//assetstdnext.s3.amazonaws.com/img/bg-health.jpg'); background-position:center top;padding-top:21%;padding-bottom:22%;}
