@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-6x6kzj');
	src:url('../fonts/icomoon.eot?#iefix-6x6kzj') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-6x6kzj') format('woff'),
		url('../fonts/icomoon.ttf?-6x6kzj') format('truetype'),
		url('fonts/icomoon.svg?-6x6kzj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logo-tdmodules .path1:before {
	content: "\e60e";
	color: rgb(90, 89, 91);
}
.icon-logo-tdmodules .path2:before {
	content: "\e61d";
	margin-left: -7.7822265625em;
	color: rgb(90, 89, 91);
}
.icon-logo-tdmodules .path3:before {
	content: "\e61e";
	margin-left: -7.7822265625em;
	color: rgb(90, 89, 91);
}
.icon-logo-tdmodules .path4:before {
	content: "\e61f";
	margin-left: -7.7822265625em;
	color: rgb(90, 89, 91);
}
.icon-logo-tdmodules .path5:before {
	content: "\e620";
	margin-left: -7.7822265625em;
	color: rgb(90, 89, 91);
}
.icon-logo-tdmodules .path6:before {
	content: "\e621";
	margin-left: -7.7822265625em;
	color: rgb(90, 89, 91);
}
.icon-logo-tdmodules .path7:before {
	content: "\e622";
	margin-left: -7.7822265625em;
	color: rgb(90, 89, 91);
}
.icon-logo-tdmodules .path8:before {
	content: "\e623";
	margin-left: -7.7822265625em;
	color: rgb(230, 41, 72);
}
.icon-logo-tdmodules .path9:before {
	content: "\e624";
	margin-left: -7.7822265625em;
	color: rgb(90, 89, 91);
}
.icon-logo-tdmodules .path10:before {
	content: "\e625";
	margin-left: -7.7822265625em;
	color: rgb(230, 41, 72);
}
.icon-logo-tdmodules .path11:before {
	content: "\e626";
	margin-left: -7.7822265625em;
	color: rgb(90, 89, 91);
}
.icon-logo-tdmodules .path12:before {
	content: "\e627";
	margin-left: -7.7822265625em;
	color: rgb(230, 41, 72);
}
.icon-logo-tdmodules .path13:before {
	content: "\e628";
	margin-left: -7.7822265625em;
	color: rgb(90, 89, 91);
}
.icon-logo-tdmodules .path14:before {
	content: "\e629";
	margin-left: -7.7822265625em;
	color: rgb(230, 41, 72);
}
.icon-logo-tdmodules .path15:before {
	content: "\e62a";
	margin-left: -7.7822265625em;
	color: rgb(230, 41, 72);
}
.icon-logo-tdmodules .path16:before {
	content: "\e62b";
	margin-left: -7.7822265625em;
	color: rgb(230, 41, 72);
}
.icon-logo-tdmodules .path17:before {
	content: "\e62c";
	margin-left: -7.7822265625em;
	color: rgb(230, 41, 72);
}
.icon-logo-tdmodules .path18:before {
	content: "\e62d";
	margin-left: -7.7822265625em;
	color: rgb(230, 41, 72);
}
.icon-logo-tdmodules .path19:before {
	content: "\e62e";
	margin-left: -7.7822265625em;
	color: rgb(230, 41, 72);
}
.icon-logo-tdmodules .path20:before {
	content: "\e62f";
	margin-left: -7.7822265625em;
	color: rgb(230, 41, 72);
}
.icon-logo-tdmodules .path21:before {
	content: "\e630";
	margin-left: -7.7822265625em;
	color: rgb(230, 41, 72);
}

.icon-logo-tdnext .path1:before {
	content: "\e60f";
	color: rgb(90, 89, 91);
}
.icon-logo-tdnext .path2:before {
	content: "\e610";
	margin-left: -4.8408203125em;
	color: rgb(90, 89, 91);
}
.icon-logo-tdnext .path3:before {
	content: "\e611";
	margin-left: -4.8408203125em;
	color: rgb(90, 89, 91);
}
.icon-logo-tdnext .path4:before {
	content: "\e612";
	margin-left: -4.8408203125em;
	color: rgb(90, 89, 91);
}
.icon-logo-tdnext .path5:before {
	content: "\e613";
	margin-left: -4.8408203125em;
	color: rgb(90, 89, 91);
}
.icon-logo-tdnext .path6:before {
	content: "\e614";
	margin-left: -4.8408203125em;
	color: rgb(90, 89, 91);
}
.icon-logo-tdnext .path7:before {
	content: "\e615";
	margin-left: -4.8408203125em;
	color: rgb(90, 89, 91);
}
.icon-logo-tdnext .path8:before {
	content: "\e616";
	margin-left: -4.8408203125em;
	color: rgb(230, 41, 72);
}
.icon-logo-tdnext .path9:before {
	content: "\e617";
	margin-left: -4.8408203125em;
	color: rgb(90, 89, 91);
}
.icon-logo-tdnext .path10:before {
	content: "\e618";
	margin-left: -4.8408203125em;
	color: rgb(230, 41, 72);
}
.icon-logo-tdnext .path11:before {
	content: "\e619";
	margin-left: -4.8408203125em;
	color: rgb(90, 89, 91);
}
.icon-logo-tdnext .path12:before {
	content: "\e61a";
	margin-left: -4.8408203125em;
	color: rgb(230, 41, 72);
}
.icon-logo-tdnext .path13:before {
	content: "\e61b";
	margin-left: -4.8408203125em;
	color: rgb(90, 89, 91);
}
.icon-logo-tdnext .path14:before {
	content: "\e61c";
	margin-left: -4.8408203125em;
	color: rgb(230, 41, 72);
}

.icon-tdnext .path1:before {
	content: "\e600";
	color: rgb(255, 255, 255);
}
.icon-tdnext .path2:before {
	content: "\e601";
	margin-left: -4.8125em;
	color: rgb(255, 255, 255);
}
.icon-tdnext .path3:before {
	content: "\e602";
	margin-left: -4.8125em;
	color: rgb(255, 255, 255);
}
.icon-tdnext .path4:before {
	content: "\e603";
	margin-left: -4.8125em;
	color: rgb(255, 255, 255);
}
.icon-tdnext .path5:before {
	content: "\e604";
	margin-left: -4.8125em;
	color: rgb(255, 255, 255);
}
.icon-tdnext .path6:before {
	content: "\e605";
	margin-left: -4.8125em;
	color: rgb(255, 255, 255);
}
.icon-tdnext .path7:before {
	content: "\e606";
	margin-left: -4.8125em;
	color: rgb(255, 255, 255);
}
.icon-tdnext .path8:before {
	content: "\e607";
	margin-left: -4.8125em;
	color: rgb(230, 41, 72);
}
.icon-tdnext .path9:before {
	content: "\e608";
	margin-left: -4.8125em;
	color: rgb(255, 255, 255);
}
.icon-tdnext .path10:before {
	content: "\e609";
	margin-left: -4.8125em;
	color: rgb(230, 41, 72);
}
.icon-tdnext .path11:before {
	content: "\e60a";
	margin-left: -4.8125em;
	color: rgb(255, 255, 255);
}
.icon-tdnext .path12:before {
	content: "\e60b";
	margin-left: -4.8125em;
	color: rgb(230, 41, 72);
}
.icon-tdnext .path13:before {
	content: "\e60c";
	margin-left: -4.8125em;
	color: rgb(255, 255, 255);
}
.icon-tdnext .path14:before {
	content: "\e60d";
	margin-left: -4.8125em;
	color: rgb(230, 41, 72);
}





/* Generated by Font Squirrel (http://www.fontsquirrel.com) on February 27, 2015 */



@font-face {
    font-family: 'static_bold_italicbold_italic';
    src: url('../fonts/Static Bold Italic-webfont.eot');
    src: url('../fonts/Static Bold Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Static Bold Italic-webfont.woff2') format('woff2'),
         url('../fonts/Static Bold Italic-webfont.woff') format('woff'),
         url('../fonts/Static Bold Italic-webfont.ttf') format('truetype'),
         url('../fonts/Static Bold Italic-webfont.svg#static_bold_italicbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'static_boldbold';
    src: url('../fonts/Static Bold-webfont.eot');
    src: url('../fonts/Static Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Static Bold-webfont.woff2') format('woff2'),
         url('../fonts/Static Bold-webfont.woff') format('woff'),
         url('../fonts/Static Bold-webfont.ttf') format('truetype'),
         url('../fonts/Static Bold-webfont.svg#static_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'static_italicitalic';
    src: url('../fonts/Static Italic-webfont.eot');
    src: url('../fonts/Static Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Static Italic-webfont.woff2') format('woff2'),
         url('../fonts/Static Italic-webfont.woff') format('woff'),
         url('../fonts/Static Italic-webfont.ttf') format('truetype'),
         url('../fonts/Static Italic-webfont.svg#static_italicitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'staticregular';
    src: url('../fonts/Static-webfont.eot');
    src: url('../fonts/Static-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Static-webfont.woff2') format('woff2'),
         url('../fonts/Static-webfont.woff') format('woff'),
         url('../fonts/Static-webfont.ttf') format('truetype'),
         url('../fonts/Static-webfont.svg#staticregular') format('svg');
    font-weight: normal;
    font-style: normal;

}