.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    /*
    padding-right: 15px;
    padding-left: 15px;
    */
}

.col-xs-15 {
    width: 100%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}


.feature-icon {
  height: 58px;
  width: 58px;
  background-image: url("../img/sdk.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 58px 58px;

  margin-left:auto;
  margin-right:auto;

}

.feature-trait {
  height: 58px;
  width: 58px;
  background-image: url("../img/trait.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 58px 58px;

  margin-left:auto;
  margin-right:auto;

}

.feature-label {
  @include font-size(16px);
}

.feature-inner {
  padding:30px 0;
}

.test {
  @include font-size(40px);
  margin:0;
}
